.git
graphify-out
**/node_modules
**/dist
**/.turbo
**/.cache
**/.env
**/.env.*
!panel/.env.example
**/*.log
Zomboid/
**/Zomboid/
server-console.txt
**/server-console.txt
RootFS/
**/RootFS/
**/*.sqsh
**/ProjectZomboid64
**/jre64/
**/steamapps/
**/saves/
